@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
        <div class="container">
        <img src="~/images/backgroundImage.jpg" style="width : 1200px; height : 800px" alt="Description of the image">
            
        </div>

</div>
